<launch>
    <!-- Launch YDLIDAR ROS driver -->
    <include file="$(find ydlidar_ros_driver)/launch/lidar.launch" />

    <!-- Launch RViz -->
    <node pkg="rviz" type="rviz" name="rviz" output="screen" />

    <!-- Launch TurtleBot Navigation with AMCL -->
    <node pkg="turtlebot_navigation" type="amcl_demo2.launch" name="amcl_demo2" output="screen">
        <param name="map_file" value="/home/turtle/M1.yaml"/>
    </node>

    <!-- Run TurtleBot Control face_test.py script -->
    <node pkg="turtlebot_control" type="face_test.py" name="face_test" output="screen"/>
</launch>