<launch>
  <!-- Load YAML file into parameter server -->
  <rosparam command="load" file="$(find turtlebot_navigation)/param/laser_filter.yaml" />

  <node name="laser_scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
    <param name="scan_filter_chain" param="/laser_filter_chain" />
    <param name="input_scan_topic" type="string" value="/scan"/>
    <param name="output_scan_topic" type="string" value="/filtered_scan"/>
  </node>
</launch>